{% extends 'base.html' %}

{% block title %}
  | Resetar Senha
{% endblock %}

{% block content %}
  <div class="pure-g-r content-ribbon">
    {% include 'messages.html' %}
    
    <div class="pure-u-1">
      <h2>Informe o e-mail da sua conta</h2>

      <form action="{% url 'accounts:password_reset' %}" class="pure-form pure-form-stacked" method="POST">
        {% csrf_token %}
        <fieldset>
          {{ form.non_field_errors }}
          {% for field in form %}
            <div class="pure-control-group">
              {{ field.label_tag }}
              {{ field }}
              {{ field.errors }}
            </div>
          {% endfor %}
            
          <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">
              <i class="fab fa-telegram-plane"></i> Enviar
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}