{% extends 'base.html' %}

{% block title %}
  | Contato
{% endblock %}

{% block content %}
  <div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
      <h1>Fale conosco</h1>
      <p>Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo seguem os links para contato:</p>
      <h4>Links</h4>
      <ul>
        <li>
          E-mail: 
          <a href="mailto:williamrodrigues2442@gmail.com" rel="external">
            williamrodrigues2442@gmail.com
          </a>
        </li>
        <li>Twitter: <a href="https://twitter.com/lliw_r" rel="external">@lliw_r</a></li>
      </ul>
    </div>
  </div>
{% endblock %}