{% extends 'courses/course_dashboard.html' %}

{% block dashboard_content %}
  {% for announcement in announcements %}
    <div class="well">
      <h2>
        <a href="{% url 'courses:announcement_details' course.pk course.slug announcement.pk %}">
          {{ announcement.title }}
        </a>
        <span class="fright">{{ announcement.created_at|date:'SHORT_DATE_FORMAT' }}</span>
      </h2>
      {{ announcement.content|linebreaks|truncatechars:200 }}
      <p>
        {% with num_comments=announcement.comments.count %}
          <a href="{% url 'courses:announcement_details' course.pk course.slug announcement.pk %}#comments">
            <i class="far fa-comments"></i> {{ num_comments }} Comentário{{ num_comments|pluralize }}
          </a>
        {% endwith %}
      </p>
    </div>
  {% empty %}
    <div class="well">
      <h2>Nenhum anúncio criado para este curso.</h2>
    </div>
  {% endfor %}
{% endblock %}