{% extends 'courses/course_dashboard.html' %}

{% block breadcrumb %}
  {{ block.super }}
  <li>/</li>
  <li>
    <a href="{{ announcement.get_absolute_url }}">
      {{ announcement }}
    </a>
  </li>
{% endblock %}

{% block dashboard_content %}
  <div class="well">
    <h2>
      {{ announcement }} 
      <span class="fright">{{ announcement.created_at|date:'SHORT_DATE_FORMAT' }}</span>
    </h2>
    {{ announcement.content|linebreaks }}
  </div>

  <div class="well">
    <h4 id="comments">
      Comentários <i class="far fa-comments"></i>
      <a class="fright" href="#add_comment">Comentar <i class="fas fa-comment-medical"></i></a>
    </h4>
    <hr>
    
    {% for comment in comments %}
      <p>
        <i class="fas fa-user"></i> 
        {% if comment.user == user %}
          <strong>Você</strong> 
        {% else %}
          {% if comment.user.is_superuser %}
            <strong>{{ comment.user }} — <em>Admin</em></strong> 
          {% elif comment.user.is_instructor  %}
            <strong>{{ comment.user }} — <em>Instrutor</em></strong> 
          {% else %}
            <strong>{{ comment.user }}</strong> 
          {% endif %}
        {% endif %}
        {% if comment.user == user %}
          <abbr title="Editar Comentário">
            <a href="{{ comment.get_absolute_url }}" class="fright">
              <i class="fas fa-edit"></i>
            </a>
          </abbr>
        {% endif %}
        <br>
        <small><i class="far fa-clock"></i> há {{ comment.created_at|timesince }}</small>
        <br>
        {{ comment.content|linebreaksbr }}
      </p>
      <hr>
    {% empty %}
      <h4>Seja o primeiro a comentar!</h4>
      <hr>
    {% endfor %}

    <form action="{{ announcement.get_absolute_url }}" id="add_comment" class="pure-form pure-form-stacked" method="POST">
      {% csrf_token %}
      <fieldset>
        {{ form.non_field_errors }}
        {% for field in form %}
          <div class="pure-control-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
          </div>
        {% endfor %}

        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary">
            Enviar <i class="fab fa-telegram-plane"></i>
          </button>
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}