{% extends 'base.html' %}

{% load static %}

{% block title %}
  | Cursos
{% endblock %}

{% block content %}
  <div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
      <div class="l-box">
        <h4 class="content-subhead">Listagem de Cursos do Simple MOOC</h4>
        <p>Abaixo a lista de cursos disponíveis na plataforma.</p>
      </div>
    </div>
  </div>
  
  {% for course in courses %}
    <div class="pure-g-r content-ribbon">
      <div class="pure-u-1-3">
        <div class="l-box">
          <a href="{{ course.get_absolute_url }}">
            {% if course.image %}
              <img src="{{ course.image.url }}" alt="Imagem do curso {{ course }}">
            {% else %}
              <img src="{% static 'images/course-image.png' %}" alt="Imagem do curso {{ course }}">
            {% endif %}
          </a>
        </div>
      </div>
      <div class="pure-u-2-3">
        <div class="l-box">
          <h4 class="content-subhead">
            <a href="{{ course.get_absolute_url }}">{{ course }}</a>
          </h4>
          {{ course.description|linebreaks }}
        </div>
      </div>
    </div>
  {% empty %}
    <div class="pure-g-r content-ribbon">
      <div class="pure-u-1">
        <div class="l-box">
          <h3>Nenhum curso está disponível na plataforma.</h3>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}