{% extends 'courses/course_dashboard.html' %}

{% block breadcrumb %}
  {{ block.super }}
  <li>/</li>
  <li>
    <a href="{% url 'courses:lessons' course.pk course.slug %}">
      Aulas
    </a>
  </li>
  <li>/</li>
  <li>
    <a href="{{ lesson.get_absolute_url }}">
      {{ lesson }}
    </a>
  </li>
{% endblock %}

{% block dashboard_content %}
  <div class="well">
    <h2>
      {{ lesson }} 
      <span class="fright">
        {% if lesson.is_available %}
          {{ lesson.release_date|date:'SHORT_DATE_FORMAT' }}
        {% else %}
          (Agendado: {{ lesson.release_date|date:'SHORT_DATE_FORMAT'|default:'Sem previsão' }})
        {% endif %}
      </span>
    </h2>
    {{ lesson.description|linebreaks }}
  
    <p>
      <h4>Material da Aula</h4>
      {% if lesson.materials.all.exists %}
        <table class="pure-table full">
          <thead>
            <tr>
              <th>
                Nome
              </th>
              <th>
                Ação
              </th>
            </tr>
          </thead>
          <tbody>
            {% for material in lesson.materials.all %}
              <tr class="{% cycle '' 'pure-table-odd' %}">
                <td>
                  {{ material }}
                </td>
                <td>
                  {% if material.is_embedded %}
                    <a href="{{ material.get_absolute_url }}">
                      <i class="fas fa-video"></i> Acessar
                    </a>
                  {% else %}
                    {% if material.resource %}
                      <a href="{{ material.resource.url }}" download="{{ material.resource.name }}" type="application/octet-stream">
                        <i class="fas fa-download"></i> Baixar
                      </a>
                    {% else %}
                    <a href="#">
                      <i class="fas fa-unlink"></i> Link Quebrado
                    </a>
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h4>Não disponível.</h4>
      {% endif %}
    </p>
    
    {% if prev_lesson or next_lesson %}
      <p>
        {% if prev_lesson %}
          <a href="{% url 'courses:lesson_details' course.pk course.slug prev_lesson.pk %}" class="pure-button pure-button-primary">
            <i class="fas fa-arrow-left"></i> Aula anterior
          </a>
        {% else %}
          <button href="#" class="pure-button pure-button-primary pure-button-disabled">
            <i class="fas fa-arrow-left"></i> Aula anterior
          </button>
        {% endif %}
        {% if next_lesson %}
          <a href="{% url 'courses:lesson_details' course.pk course.slug next_lesson.pk %}" class="pure-button pure-button-primary fright">
            Próxima aula <i class="fas fa-arrow-right"></i>
          </a>
        {% else %}
          <button href="#" class="pure-button pure-button-primary pure-button-disabled fright">
            Próxima aula <i class="fas fa-arrow-right"></i>
          </button>
        {% endif %}
      </p>
    {% endif %}
  </div>
{% endblock %}