{% extends 'courses/course_dashboard.html' %}

{% block breadcrumb %}
  {{ block.super }}
  <li>/</li>
  <li>
    <a href="{% url 'courses:lessons' course.pk course.slug %}">
      Aulas
    </a>
  </li>
  <li>/</li>
  <li>
    <a href="{{ lesson.get_absolute_url }}">
      {{ lesson }}
    </a>
  </li>
{% endblock %}

{% block dashboard_content %}
  <div class="well">
    <h2>
      {{ lesson }} 
      <span class="fright">{{ lesson.release_date|date:'SHORT_DATE_FORMAT' }}</span>
    </h2>
    {{ lesson.description|linebreaks }}
  
    <p>
      <h4>Material da Aula</h4>
      {% if lesson.materials.all.exists %}
        <table class="pure-table full">
          <thead>
            <tr>
              <th>
                Nome
              </th>
              <th>
                Ação
              </th>
            </tr>
          </thead>
          <tbody>
            {% for material in lesson.materials.all %}
              <tr class="{% cycle '' 'pure-table-odd' %}">
                <td>
                  {{ material }}
                </td>
                <td>
                  {% if material.is_embedded %}
                    <a href="{{ material.get_absolute_url }}">
                      <i class="fas fa-video"></i> Acessar
                    </a>
                  {% else %}
                    <a href="{{ material.resource.url }}" download="{{ material.resource.name }}" type="application/octet-stream">
                      <i class="fas fa-download"></i> Baixar
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h4>Não disponível.</h4>
      {% endif %}
    </p>
  </div>
{% endblock %}