{% extends 'courses/course_dashboard.html' %}

{% block breadcrumb %}
  {{ block.super }}
  <li>/</li>
  <li>
    <a href="{% url 'courses:lessons' course.pk course.slug %}">
      Aulas
    </a>
  </li>
  <li>/</li>
  <li>
    <a href="{{ lesson.get_absolute_url }}">
      {{ lesson }}
    </a>
  </li>
  <li>/</li>
  <li>
    <a href="{{ material.get_absolute_url }}">
      {{ material }}
    </a>
  </li>
{% endblock %}

{% block dashboard_content %}
  <div class="well">
    <h2>
      <a href="{{ material.get_absolute_url }}">{{ material }}</a>
    </h2>
    <iframe width="640" height="360" src="{{ material.url }}" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>
      <a href="{{ lesson.get_absolute_url }}">
        <i class="fas fa-arrow-left"></i> Voltar
      </a>
    </p>
  </div>
{% endblock %}